
$color-fondo: rgb(255, 248, 220);
$color-navbar: rgb(247, 206, 144);
$color-hover: rgb(221, 180, 120);
$color-texto: #333;
$color-secundario: #6c4a3c;
$color-claro: #fff;
$color-oscuro: #4B2E2E;
$color-acento: #D17B4D;
$color-acento-hover: #A65A3A;


$fuente-base: 'Arial', sans-serif;
$fuente-decorativa: 'Courier New', Courier, monospace;
$fuente-poppins: 'Poppins', sans-serif;

$radio-borde: 12px;
$sombra-suave: 0 4px 8px rgba(0, 0, 0, 0.1);
$sombra-media: 0 6px 15px rgba(0, 0, 0, 0.15);
