/* carrusel-index */
.carousel {
  max-height: 100vh;
  height: auto;
  overflow: hidden;
  padding: 20px;

  .carousel-inner {
    max-height: 100vh;
    height: auto;
    overflow: hidden;

    img {
      width: 100%;
      margin: auto;
      height: auto;
      max-height: 80vh;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .carousel-item {
      max-height: 80vh;
      background-color: #f8f9fa;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        margin: auto;
        height: auto;
        max-height: 80vh;
        border-radius: 0px;
        object-fit: contain;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
