.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(247, 206, 144);
  color: #171616;
  flex-wrap: wrap;

  .footer-info {
    flex: 1;
    min-width: 250px;

    h3 {
      font-size: 20px;
      text-align: center;
    }

    p {
      margin: 5px 0;
    }
  }

  .footer-mapa {
    flex: 1;
    max-width: 400px;
    min-width: 250px;
    margin-left: 40px;

    iframe {
      width: 100%;
      height: 200px;
      border: 0;
      border-radius: 8px;
    }
  }

  .footer-redes {
    display: flex;
    gap: 38px;
    padding: 30px;
    margin-top: 20px;

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      font-size: 28px;
      color: #333;
      transition: transform 0.2s, color 0.2s;

      svg,
      .bi {
        width: 30px;
        height: 30px;
        display: inline-block;
      }

      &:hover {
        transform: scale(1.2);
        color: #555;
      }
    }
  }
}
