h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 80px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #4f4d4d;
  line-height: 1.6;
  margin-bottom: 20px;
}
